@font-face {
    font-family: 'DongQingHeiTi';
    src:
    url("../../assets/fonts/DongQingHeiTi.woff") format('woff'),
    url("../../assets/fonts/DongQingHeiTi.ttf") format('truetype'),
    url("../../assets/fonts/DongQingHeiTi.svg#DongQingHeiTi") format('svg');
    font-weight: normal;
    font-style: normal;
}
